.mat-form-field {
    margin-bottom: -25px;
    background-color: rgb(32, 32, 32);
}

.pokemon-search-panel {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1;
}

::ng-deep .mat-expansion-panel-body {
    background-image: url('/assets/images/pokemon_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.pokemon-search-panel-content {
    height: 240px;
}

.pokemon-search-panel-grid {
    height: 100%;
    width: 100%;
}

.pokemon-search-box {
    background-color: rgba(0, 0, 0, 0.623);
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
}

.pokemon-search-box mat-label, .pokemon-search-box input{
    margin-left: 6px;
}

.pokemon-search-button {
    border-radius: 0px !important;
    height: 100%;
    width: auto;
}

.pokemon-search-button mat-icon {
    font-family: 'Material Icons' !important;
}

.pokemon-search-panel-tile {
    height: 100%;
    margin: auto;
}

.pokemon-search-panel-type-title {
    height: 100%;
    width: 100%;
    display: table;
    background-color: rgba(0, 0, 0, 0.629);
}

.pokemon-search-panel-type-title h1 {
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

.pokemon-search-grid {
    height: 100%;
    width: 100%;
}

.pokemon-search-type-title {
    font-size: 100%;
}

.pokemon-search-type{
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.629);
    font-size: 1vw;
}

.pokemon-search-reset {
    height: auto;
    width: 40%;
    font-size: 2vw;
    background-color: rgba(78, 0, 0, 0.629);
}

.pokemon-not-found-content {
    display: table;
    width: 100%;
    height: 100%;
}

.pokemon-not-found-content h1 {
    text-align: center;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50px);
}

.pokemon-list-grid {
    margin-top: 45px;
}

.mat-badge-content {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 100%;
}

.pokemon-card {
    object-fit: contain;
    width: 160px;
    height: 260px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(255,144,0,1) 60%);
    border-radius: 10px;
    border: 6px solid rgba(0,0,0,1);
}

.pokemon-card-grid {
    height: 100%;
    padding: 0px;
    border: 0px;
}

.pokemone-card-img{
    margin: auto !important;
    width: 100%;
}

.pokemon-name {
    margin: auto;
    width: 100%;
    font-size: 100%;
    text-align: center;
}

.pokemon-type-list {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pokemon-type {
    width: 45%;
    font-size: 10px;
    display: inline-block;
    text-align: center;
}

.pokedex-pagination ::ng-deep .ngx-pagination .current {
    background: rgb(255, 174, 0);
}

.pokedex-pagination {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .pokemon-search-box {
        background-color: rgba(0, 0, 0, 0.623);
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }

    .pokemon-search-type{
        height: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.629);
        font-size: 1.5vw;
    }

    .pokemon-card {
        width: 155px;
        height: 255px;
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(255,144,0,1) 60%);
        border-radius: 10px;
        border: 6px solid rgba(0,0,0,1);
    }

    .pokemone-card-img{
        margin: auto !important;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .pokemon-type {
        width: 45%;
        font-size: 10px;
        display: inline-block;
        text-align: center;
        padding: 0px;
    }
}

@media screen and (max-width: 465px) {
    .toolbar-header {
        min-height: 60px !important; 
        height: 60px !important;
    }
    

    .pokemon-search-panel {
        width: 100%;
        margin: auto;
    }

    .pokemon-search-panel-content {
        height: 400px;
    }

    .pokemon-search-box {
        background-color: rgba(0, 0, 0, 0.623);
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }

    .pokemon-search-type{
        height: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.629);
        font-size: 4vw;
    }

    .pokedex-pagination {
        font-size: 15px;
        width: 100%;
        margin: auto;
    }

    .pokemon-card {
        width: 150px;
        height: 250px;
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(255,144,0,1) 60%);
        border-radius: 10px;
        border: 6px solid rgba(0,0,0,1);
    }

    .pokemone-card-img{
        margin: auto !important;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .pokemon-type {
        width: 45%;
        font-size: 3vw;
        display: inline-block;
        text-align: center;
        padding: 0px;
    }

    .pokemon-search-reset {
        height: auto;
        width: 40%;
        font-size: 4vw;
        background-color: rgba(78, 0, 0, 0.629);
    }

    .pokemon-search-box-text {
        font-size: 4vw;
    }

    .pokemon-not-found-content {
        display: table;
        width: 100%;
        height: 100%;
    }
    
    .pokemon-not-found-content h1 {
        font-size: 4vw;
        text-align: center;
        width: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50px);
    }
}