.pokemon_logo {
    max-height: 60% !important;
    width: 150px;
    object-fit: contain;
}

.toolbar-header {
    min-height: 90px !important; 
    height: 90px !important;
    
}

.toolbar-spacer {
    flex: 1 1 auto;
}

@media screen and (max-width: 200px) {
    .pokemon_logo {
        max-height: 60% !important;
        width: 100%;
        object-fit: contain;
    }
}