.mat-form-field {
    margin-bottom: -25px;
    background-color: rgb(32, 32, 32);
}

.pokemon-detail-Img {
    margin: auto !important;
    width: 100%;
}

.pokemon-detail-panel{
    background-color: rgb(97, 97, 97);
}

.pokemon-detail-card{
    height: 75%;
    width: 90%;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.450);
}

.pokemon-detail-card img{
    width: 100%;
}

.mat-card{
    padding:20px !important;
}

.pokemon-card {
    width: 160px;
    height: 260px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(255,144,0,1) 60%);
    border-radius: 10px;
    border: 6px solid rgba(0,0,0,1);
}

.pokemon-detail-card-grid{
    height: 100%;
}

.pokemon-detail-list {
    margin: 0px;
    padding: 0px;
}

.pokemon-details-grid {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: auto;
}

.pokemon-details-grid-tile {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: auto;
}

.pokemon-details-description {
    font-size: 1.5vw;
    width: 100%;
    margin: 20px;
}

.mat-progress-bar {
    height: 20px;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgba(255,144,0,1);
}

::ng-deep .mat-progress-bar-buffer {
    background: #646464;
}

.stat-grid {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: auto;
}

.single-stat {
    height: auto;
    width: 100%;
}

.abilities-grid {
    width: 100%;
    height: 100%;
}

.ability-tile {
    width: 100%;
    font-size: 1vw;
}

.evolutions-title {
    font-size: 3vw;
}

.mat-card-subtitle {
    margin: auto;
}

.mat-badge-content {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 100%;
}

.pokemon-card-grid {
    height: 100%;
    padding: 0px;
    border: 0px;
}

.pokemone-card-img{
    margin: auto !important;
    width: 100%;
}

.pokemon-name {
    margin: auto;
    width: 100%;
    font-size: 100%;
    text-align: center;
}

.pokemon-type-list {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pokemon-type {
    width: 45%;
    font-size: 10px;
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 928px) {
    .pokemon-details-description {
        font-size: 2vw;
        width: 100%;
        margin: 20px;
    } 

    .pokemon-detail-card img{
        width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .ability-tile {
        width: 100%;
        font-size: 1.25vw;
        padding: 0px;
    }

    .pokemon-type {
        width: 45%;
        font-size: 10px;
        display: inline-block;
        text-align: center;
    }

    .pokemon-card {
        width: 155px;
        height: 255px;
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(255,144,0,1) 60%);
        border-radius: 10px;
        border: 6px solid rgba(0,0,0,1);
    }

    .pokemone-card-img{
        margin: auto !important;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .pokemon-detail-card{
        height: 90%;
        width: 90%;
        align-items: center;
        background-color: rgba(36, 36, 36, 0.450);
    }

    .evolutions-title {
        font-size: 4vw;
    }
}

@media screen and (max-width: 465px) {
    .toolbar-header {
        min-height: 60px !important; 
        height: 60px !important;
    }

    .pokemon-details-description {
        font-size: 4.5vw;
        width: 100%;
        margin: 20px;
    }

    .pokemon-detail-card img{
        width: 100%;
        max-height: 100%;
        object-fit: contain;
    } 

    .ability-tile {
        width: 100%;
        font-size: 4.5vw;
        padding: 0px;
    }

    .pokemon-type {
        margin: auto;
        height: auto;
        width: 40%;
        font-size: 10px;
        display: inline-block;
        text-align: center;
        padding: 0px;
    }

    .pokemon-card {
        width: 150px;
        height: 250px;
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(255,144,0,1) 60%);
        border-radius: 10px;
        border: 6px solid rgba(0,0,0,1);
    }
    
    .pokemone-card-img{
        margin: auto !important;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .pokemon-detail-card{
        height: 90%;
        width: 90%;
        align-items: center;
        background-color: rgba(36, 36, 36, 0.450);
    }

    .evolutions-title {
        font-size: 6vw;
    }
}
