<mat-grid-list [cols]="pokemonDetailPanelColumnCount" [rowHeight]="pokemonDetailsPanelHeight" class="pokemon-detail-panel">
    <mat-grid-tile>
        <mat-card *ngIf="pokemon" class="pokemon-detail-card">
            <mat-grid-list cols="2" rowHeight="fit" class="pokemon-detail-card-grid">
                <mat-grid-tile rowspan="1" colspan="2" class="pokemon-detail-list">
                    <mat-card-title class="pokemon-name">{{pokemon.name | uppercase}}</mat-card-title>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]="pokemonImageRowSpan" [colspan]="pokemonImageColSpan" class="pokemon-detail-list">
                    <img mat-card-image [src]="pokemonImage" class="pokemon-detail-Img">
                </mat-grid-tile>
                <mat-grid-tile [rowspan]="pokemonDetailsRowSpan" [colspan]="pokemonDetailsColSpan" class="pokemon-detail-list">
                    <mat-grid-list cols="1" rowHeight="fit" class="pokemon-details-grid">
                        <mat-grid-tile rowspan="3" class="pokemon-details-grid-tile">
                            <p class="pokemon-details-description">{{pokemonDescription}}</p>
                        </mat-grid-tile>
                        <mat-grid-tile rowspan="1" class="pokemon-details-grid-tile">
                            <p class="pokemon-details-description">WEIGHT: {{pokemon.weight}} KG</p>
                        </mat-grid-tile>
                        <mat-grid-tile rowspan="1" class="pokemon-details-grid-tile">
                            <p class="pokemon-details-description">HEIGHT: {{(pokemon.height.toFixed(2)).toString().replace(".","'")}}" FT</p>
                        </mat-grid-tile>
                        <mat-grid-tile rowspan="1" class="pokemon-details-grid-tile">
                            <mat-card-content class="pokemon-type-list">
                                <button mat-flat-button color="accent" (click)="$event.stopPropagation();" [routerLink]="['/type', pokeType.type.name]" *ngFor="let pokeType of pokemon.types" class="pokemon-type">{{pokeType.type.name | uppercase}}</button>
                            </mat-card-content>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card *ngIf="pokemon" class="pokemon-detail-card">
            <mat-grid-list cols="1" rowHeight="fit" class="pokemon-detail-card-grid">
                <mat-grid-tile rowspan="1" colspan="1" class="pokemon-detail-list">
                    <mat-card-title class="pokemon-name">ABILITIES</mat-card-title>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]="pokemonAbilitiesRowSpan" colspan="1" class="pokemon-details-grid-tile"> 
                    <mat-grid-list [cols]="pokemonAbilitiesColumns" rowHeight="fit" gutterSize="10px" class="abilities-grid">
                        <mat-grid-tile colspan="1" *ngFor="let pokeAbility of pokemonAbilities">
                            <button mat-flat-button disabled color="accent" (click)="$event.stopPropagation();" class="ability-tile">{{pokeAbility.ability.name | uppercase}}</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-grid-tile>
                <mat-grid-tile rowspan="1" colspan="1" class="pokemon-detail-list">
                    <mat-card-title class="pokemon-name">STATS</mat-card-title>
                </mat-grid-tile>
                <mat-grid-tile rowspan="6" colspan="1" class="pokemon-detail-list">
                    <mat-grid-list cols="1" rowHeight="fit" class="stat-grid">
                        <mat-grid-tile *ngFor="let pokeStat of pokemonStats"> 
                            <div class="single-stat">
                                <mat-card-subtitle>{{pokeStat.stat.name | uppercase}}</mat-card-subtitle>
                                <mat-progress-bar mode="determinate" [value]="(pokeStat.base_stat / 255) * 100"></mat-progress-bar>
                            </div>
                        </mat-grid-tile>
                     </mat-grid-list>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-toolbar *ngIf="evolutionSpeciesList.length > 0" color="accent" class="evolutions-title">EVOLUTIONS</mat-toolbar>
<mat-grid-list *ngIf="evolutionSpeciesList.length > 0" [cols]="cardGridColumnsCount" [rowHeight]="cardGridRowHeight" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let pokemon of evolutionSpeciesList">
        <span matBadge="{{pokemon.id}}" matBadgeColor="accent">
            <mat-card class="pokemon-card" [routerLink]="['/pokemon', pokemon.name]">
                <mat-grid-list cols="1" rowHeight="fit" class="pokemon-card-grid">
                    <mat-grid-tile cols="1" rowspan="4">
                        <img mat-card-image [src]="pokemon.src" class="pokemone-card-img">
                    </mat-grid-tile>
                    <mat-grid-tile cols="1" rowspan="1" layout-align="center center">
                        <mat-card-title class="pokemon-name">{{pokemon.name | uppercase}}</mat-card-title>
                    </mat-grid-tile>
                    <mat-grid-tile cols="1" rowspan="1" layout-align="center center">
                        <mat-card-content class="pokemon-type-list">
                            <button mat-flat-button  *ngFor="let pokeType of pokemon.types" (click)="$event.stopPropagation();" [routerLink]="['/type', pokeType.type.name]" class="pokemon-type">{{pokeType.type.name | uppercase}}</button>
                        </mat-card-content>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </span>
    </mat-grid-tile>
</mat-grid-list>

<mat-toolbar *ngIf="pokemonVarieties.length > 1" color="accent" class="evolutions-title">VARIETIES</mat-toolbar>
<mat-grid-list *ngIf="pokemonVarieties.length > 1" [cols]="cardVarietiesGridColumnsCount" [rowHeight]="cardGridRowHeight" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let pokemon of pokemonVarieties">
        <span matBadge="{{pokemon.id}}" matBadgeColor="accent">
            <mat-card class="pokemon-card" [routerLink]="['/pokemon', pokemon.name]">
                <mat-grid-list cols="1" rowHeight="fit" class="pokemon-card-grid">
                    <mat-grid-tile cols="1" rowspan="4">
                        <img mat-card-image [src]="pokemon.src" class="pokemone-card-img">
                    </mat-grid-tile>
                    <mat-grid-tile cols="1" rowspan="1" layout-align="center center">
                        <mat-card-title class="pokemon-name">{{pokemon.name | uppercase}}</mat-card-title>
                    </mat-grid-tile>
                    <mat-grid-tile cols="1" rowspan="1" layout-align="center center">
                        <mat-card-content class="pokemon-type-list">
                            <button mat-flat-button  *ngFor="let pokeType of pokemon.types" (click)="$event.stopPropagation();" [routerLink]="['/type', pokeType.type.name]" class="pokemon-type">{{pokeType.type.name | uppercase}}</button>
                        </mat-card-content>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </span>
    </mat-grid-tile>
</mat-grid-list>