/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html * {
    font-family: 'Russo One', sans-serif !important;
}

body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
}
